<div class="w-header">
  <div class="ui fixed secondary pointing segment menu " style="background-color: #fff;">
      <a class="item" href="<%= url('/') %>">
          <i class="large sidebar icon sidebartoggle"></i>RikDocs
      </a>
      <div class="right menu">
        <a href="<%= url('/') %>" class="ui item <%= request.path_info=='/'?'active':''  %>">
          Home
        </a>
        <a href="<%= url('/archives') %>" class="ui item <%= request.path_info=='/archives'?'active':''  %>">
          Archives
        </a>
        <a href="<%= url('/about') %>" class="ui item <%= request.path_info=='/about'?'active':''  %>">
          About
        </a>
      </div>
  </div>
  <!-- <div class="ui sidebar inverted vertical menu">
    <a class="item">
      咦,竟然被你发现了.
    </a>
    <a class="item">
      这里是一个神奇的菜单栏
    </a>
    <a class="item">
      可以偷偷地做点Action
    </a>
  </div> -->
</div>