<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title><%= ((defined? title).nil?)?(settings.title.to_s):title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet">
  </head>
  <body>
      <%= erb :"includes/header",:layout=>false %>
      <div class="ui center container w-main">
        <%= yield %>
      </div>
      <%= erb :"includes/footer",:layout=>false %>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>