<!-- ui stacked segment 书边效果 -->
<div class="w-docs-content">

  <div class="ui text container">
    <h2 class="ui  header">
        <i class="book icon"></i>
        <div class="content">
          <%= title %>
        </div>
        <div class="sub header">
          &nbsp;&nbsp;&nbsp;&nbsp;<%= author %>
          <%= summary %>
        </div>
    </h2>
    <div class="documents-body">
      <%= body %>
    </div>
  </div>
</div>