<div class="ui text container">
    <h3>Archives</h3>
    <div id="w-archives-list" class="ui accordion w-archives-list">
      <% archives.each_with_index do |(key,value),index| %>
        <div class="title <%= 'active' if index==0  %>">
            <i class="dropdown icon"></i>
            <div class="ui ribbon blue label w-archives-tag">
                <%= key %> 年
            </div>
        </div>
        <div class="content <%= 'active' if index==0  %>">
          <% value.each do |v| %>
          <div class="transition <%= index==0?'visiable':'hidden'  %>">
              <span class="w-archives-month">
                <i class="angle double right icon"></i>
                <%= parseDate(v.date).month %>月
              </span>
              <a href="<%= link(v.path) %>">
                <%= v.title %>
              </a>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>