<div class="ui text container">
    <div class="w-docs-list">
        <% if !docs.nil? && docs.length>0 %>
            <% docs.each do |doc| %>
            <div class="ui items">
                <div class="item">
                    <div class="content">
                        <a href="<%= link(doc.path) %>" class="ui large black ribbon label">
                            <%= doc.title %>
                        </a>
                        <div class="description">
                            <p><%= doc.summary %></p>
                        </div>
                        <div class="extra">
                            <span>
                                <i class="user black larger icon"></i>
                                <%= doc.author || 'Admin' %>
                            </span>
                            <span>
                                <i class="calendar black larger icon"></i> <%= doc.date %>
                            </span>
                            <a class="ui right floated basic button" href="<%= link(doc.path) %>">
                                阅读全文..<i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        <% end%>
    </div>
</div>

