body,html {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0; 
}
body {
  background-color: #fff;
  color: #555;
  font: 400 14px Arial, Helvetica, sans-serif;
}

.w-topbar {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #eff0f1;
  color: #4d4f52;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.w-topbar::after {
  content: "";
  clear: both;
  display: block;
}

.w-topbar *,
.w-topbar:after,
.w-topbar:before {
  box-sizing: border-box;
}

.w-topbar-brand {
  float: left;
  width: 150px;
  margin: 0;
}

.w-topbar-logo {
  display: block;
  outline: none !important;
  text-decoration: none !important;
  transition: color .1s linear, background .1s linear, opacity .1s linear;
}

.w-topbar-logo:focus,
.w-topbar-logo:hover {
  opacity: .75;
}

.w-topbar-logo svg {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.w-topbar-menu {
  float: right;
}

@media only screen and (max-width: 1100px) and (min-width: 880px) {
  .w-topbar-brand {
    width: 120px;
    min-width: 120px;
  }
}

@media only screen and (max-width: 880px) {
  .w-topbar-brand {
    width: 100px;
    min-width: 100px;
  }
}

@media (min-width: 300px) {
  .w-topbar-menu>:first-child {
    display: none !important;
  }
}
@media (min-width: 430px) {
  .w-topbar-menu>:first-child {
    display: inline-block !important;
  }
}

.w-header{
  /* padding-top:3em; */
  background-color: #fff;
}
.w-sitemap{
  display: block;
  width:30%;
}
.w-main{
  min-height:100%; 
  padding-top:7em;
  padding-bottom: 40px;
}

.w-footer{
  padding: 50px 0px 50px 0px !important;
}

.w-footer-copyright{
  padding: 10px;
  margin-right: 0px !important;
}
.ui.comments{
  padding-top: 10px;
}

#user-drop-down.dropdown {
  font-size: 14px !important;
  margin-left: 10px;
  margin-top: 10px;
}

#user-drop-down img{
  vertical-align: middle !important;
}

.w-archives-list .content div{
  margin: 6px 0px 0px 20px;
}
.w-archives-list .w-archives-month{
  margin-right: 5px;
}
.w-archives-list .w-archives-month i{
  margin: 0;
}
.w-docs-list .items .description{
  margin-top: 1.5em !important;
}